#keyboard {
  width: 100%;
  position: relative;
}
.whitekey {
  width: 50px;
  height: 240px;
  text-align: center;
  display: inline-block;
  border: 1px solid #000;
}
.whitekey:hover {
background-color: #eee;
}

.blackkey {
  width: 50px;
  height: 140px;
  display: inline-block;
  margin-left: -25px;
  background-color: #000;
  position: absolute;
}
.blackkey:hover {
background-color: #333;
}